<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.start">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StArt">
        <activity
            android:name=".PerfilArtistaModalActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilArtistaActivity"
            android:exported="false" />
        <activity
            android:name=".BoasVindasArtista4Activity"
            android:exported="true">

        </activity>
        <activity
            android:name=".BoasVindasArtista3Activity"
            android:exported="true" />
        <activity
            android:name=".BoasVindasArtista2Activity"
            android:exported="true" />
        <activity
            android:name=".BoasVindasArtista1Activity"
            android:exported="true" />
        <activity
            android:name=".BoasVindasCliente4Activity"
            android:exported="true" />
        <activity
            android:name=".BoasVindasCliente2Activity"
            android:exported="true" />
        <activity
            android:name=".BoasVindasCliente3Activity"
            android:exported="true" />
        <activity
            android:name=".BoasVindasCliente1Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReativarContaActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".EsqueceuSuaSenhaActivity"
            android:exported="true" />
        <activity
            android:name=".CadastroArtistaPagamentoTransferenciaActivity"
            android:exported="true" />
        <activity
            android:name=".CadastroArtistaPagamentoPixActivity"
            android:exported="true" />
        <activity
            android:name=".CadastroArtistaAcessoActivity"
            android:exported="true" />
        <activity
            android:name=".CadastroArtistaPessoalActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroClienteAcessoActivity"
            android:exported="true" />
        <activity
            android:name=".CadastroClienteEnderecoActivity"
            android:exported="true" />
        <activity
            android:name=".CadastroClientePessoalActivity"
            android:exported="true" />
        <activity
            android:name=".TipoCadastroActivity"
            android:exported="true" />
    </application>

</manifest>